<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../../layout/head', { title:"Perfil de Usuario" }) %>
	<link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../../layout/header') %>
	</header>

	<!-- Content -->
	<section id="dark-content" class="dark noborder parallax pt-3">
		<div class="content-wrap">
			<div class="container clearfix">
	
				<div class="row clearfix">
	
					<div class="col-md-9">
						
							<img src= "/images/users/<%= user.avatar%>" class="alignleft img-circle img-thumbnail my-0" alt="Avatar"
							style="max-width: 84px;">
	
						<div class="heading-block border-0">
							<h3><%= user.name %></h3>
							<small><span class="m-0"><%= user.email %></span></small><br>
							<small class="m-0"><span class="badge badge-pill badge-warning">Perfil Público</span></small>
						</div>
						
						<div class="clear"></div>
	
						<div class="row clearfix">
	
							<div class="col-lg-12">
	
								<div class="tabs tabs-alt clearfix" id="tabs-profile">
	
									<ul class="tab-nav clearfix">
										<li><a href="#tab-orders"><i class="icon-credit-cards"></i> Compras </a></li>
										<li><a href="#tab-comments"><i class="icon-reply"></i> Comentarios</a></li>
									</ul>
	
									<div class="tab-container">
										
										<% if(typeof errors !='undefined' ) { %>
											<div class="col-12">
												<ul>
													<% errors.forEach(error=> { %>
														<li class="text-danger">
															<%= error.msg %>
														</li>
														<% });%>
												</ul>
											</div>
										<% } %>

										<div class="tab-content clearfix" id="tab-orders">
											<p>Administre todas sus compras</p>
											<div class="table-responsive">
												<div class="table-responsive">
													<table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
														<thead>
															<tr>
																<th>Orden #</th>
																<th>Fecha</th>
																<th>Detalle</th>
																<th>Vendedor</th>
																<th>Opciones</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>123</td>
																<td>5/23/2021</td>
																<td>Compra de Cerveza Tradicional x 3 unidades.</td>
																<td><a href="#">Miguel Mateos</a></td>
																<td class="text-center">
																	<span><a href="#"><i class="icon-eye"></i></a></span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="tab-content clearfix" id="tab-comments">
											<div class="clear topmargin-sm"></div>
											<h3 id="comments-title"><span><%= comments.length%></span> Comentarios</h3>
											<!-- Comments List -->
											<ol class="commentlist clearfix">
												<% comments.forEach( comment=> { %>
													<li class="comment even thread-even depth-1" id="li-comment-<%= comment.id%>">
														<div id="comment-<%= comment.id%>" class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																		<img alt='Image' src='/images/users/<%= comment.avatar%>'
																			class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author">
																	<%= comment.author%>
																		<span>Fecha: <%= comment.datetime%></span>
																</div>
																<p><%= comment.comment%></p>
																
																	<form action="/products/deleteComment/<%= comment.id %>?_method=DELETE" method="POST">
																		<button class="btn btn-danger btn-sm comment-delete-link" type="submit"><i class="icon-line-trash-2"></i></button>
																	</form>
																	<a href="/products/<%= comment.productId %>/productDetails" class="btn btn-primary btn-sm comment-delete-link mr-5"><i class="icon-line-eye"></i></a>
																
															</div>
															<div class="clear"></div>
														</div>
													</li>
													<%} ) %>
											</ol><!-- .commentlist end -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="w-100 line d-block d-md-none"></div>
	
					<div class="col-md-3">
						<div class="fancy-title topmargin title-border">
							<h4>Acciones</h4>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<a href="/admin" class="btn btn-dark btn-block mb-2">Volver</a>
							</div>
							<div class="col-lg-12 col-md-12">
								<a href="/admin/<%= user.id %>/edit-user" class="btn btn-warning btn-block mb-2">Actualizar</a>
							</div>
							<div class="col-lg-12 col-md-12">
								<button class="btn btn-danger btn-block" data-toggle="modal" data-target="#destroyUser">Eliminar</button>
							</div>
						</div>

						<div class="fancy-title topmargin title-border">
							<h4>Información</h4>
						</div>
						<p>
							Nombre: <%= user.name %></br>
							Usuario: <%= user.userName %></br>
							Email: <%= user.email %></br>
							Teléfono: <%= user.phone %>
						</p>

						<% if(user.bio != "") {%> 
							<div class="fancy-title topmargin title-border">
								<h4>Sobre Mí</h4>
							</div>
							<p><%= user.bio %></p>
						<% } %>

						<div class="fancy-title topmargin title-border">
							<h4>Perfiles Conectados</h4>
						</div>
						
						<% if(user.facebook !="" ) {%>
							<a href="<%= user.facebook %>" target="_blank" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
						<% } %>
						<% if(user.instagram !="" ) {%>
							<a href="<%= user.instagram %>" target="_blank" class="social-icon si-instagram si-small si-rounded si-light" title="Instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
						<% } %>
						<% if(user.twitter !="" ) {%>
							<a href="<%= user.twitter %>" target="_blank" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
						<% } %>		
					</div>
	
				</div>
	
			</div>
		</div>
	</section><!-- #content end -->

	<!-- Delete User Modal -->
	<%- include('./admin-destroy-user-modal') %>


	<!-- Footer -->
	<%- include('../../layout/footer') %>
	<script src="/js/components/bs-datatable.js"></script>
	<script>
		$(document).ready(function () {
				$('#datatable1').dataTable();
				$('#datatable2').dataTable();
		});
	</script>

</body>

</html>