<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Perfil de Negocio" }) %>
	<link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

	<!-- Page Title 
	<section id="page-title" class="checkout-page-title page-title-parallax page-title-dark"
		data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
		<%- include('../pages/pageTitle' , { title:"Perfil de Negocio", page:"Perfil" }) %>
	</section> -->

	<!-- Content -->
	<section id="dark-content" class="dark noborder parallax pt-3">
		<div class="content-wrap">
			<div class="container clearfix">
	
				<div class="row clearfix">
	
					<div class="col-md-9">
						
						<img src= "/images/shops/<%= shop.avatar%>" class="alignleft img-circle img-thumbnail my-0" alt="Avatar"
							style="max-width: 84px;">
	
						<div class="heading-block border-0">
							<h3><%= shop.name %></h3>
							<small><span class="m-0"><%= shop.email %></span></small><br>
							<small class="m-0"><span class="badge badge-pill badge-warning">Perfil Comercial</span></small>
						</div>
						
						<div class="clear"></div>
	
						<div class="row clearfix">
	
							<div class="col-lg-12">
	
								<div class="tabs tabs-alt clearfix" id="tabs-profile">
	
									<ul class="tab-nav clearfix">
										<% if( shop.status == "active" && current_user.shopId == shop.id ) { %>
											<li><a href="#tab-products"><i class="icon-box"></i> Administrar Productos</a></li>
											<li><a href="#tab-comments"><i class="icon-reply"></i> Comentarios del Público</a></li>
											<li><a href="#tab-sales"><i class="icon-credit-cards"></i> Ventas</a></li>
											<li><a href="#tab-data"><i class="icon-home"></i> Editar Negocio</a></li>
										<% } %>
									</ul>
	
									<div class="tab-container">
										
										<% if(typeof errors !='undefined' ) { %>
											<div class="col-12">
												<ul>
													<% errors.forEach(error=> { %>
														<li class="text-danger">
															<%= error.msg %>
														</li>
														<% });%>
												</ul>
											</div>
										<% } %>
										<% if( shop.status == "active" && current_user.shopId == shop.id ) { %>
											
											<div class="tab-content clearfix" id="tab-comments">
												<div class="clear topmargin-sm"></div>
												<h3 id="comments-title"><span><%= comments.length%></span> Comentarios</h3>
												<!-- Comments List -->
												<ol class="commentlist clearfix">
													<% comments.forEach( comment=> { %>
														<li class="comment even thread-even depth-1" id="li-comment-<%= comment.id%>">
															<div id="comment-<%= comment.id%>" class="comment-wrap clearfix">
																<div class="comment-meta">
																	<div class="comment-author vcard">
																		<span class="comment-avatar clearfix">
																			<img alt='Image' src='/images/users/<%= comment.avatar%>'
																				class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																	</div>
																</div>
																<div class="comment-content clearfix">
																	<div class="comment-author">
																		<%= comment.author%>
																			<span>Fecha: <%= comment.datetime%></span>
																	</div>
																	<p><%= comment.comment%></p>
																	
																		<form action="/products/deleteComment/<%= comment.id %>?_method=DELETE" method="POST">
																			<button class="btn btn-danger btn-sm comment-delete-link" type="submit"><i class="icon-line-trash-2"></i></button>
																		</form>
																		<a href="/products/<%= comment.productId %>/productDetails" class="btn btn-primary btn-sm comment-delete-link mr-5"><i class="icon-line-eye"></i></a>
																	
																</div>
																<div class="clear"></div>
															</div>
														</li>
														<%} ) %>
												</ol><!-- .commentlist end -->
											</div>

											<div class="tab-content clearfix" id="tab-products">
												<a href="/products/create" class="btn btn-warning float-right mb-5">Publicar Producto</a>
												<div class="table-responsive">
													<table id="datatable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
														<thead>
															<tr>
																<th>#</th>
																<th>ID</th>
																<th>Nombre</th>
																<th>Stock</th>
																<th>Categoría</th>
																<th>Tipo</th>
																<th class="text-center">Opciones</th>
															</tr>
														</thead>
														<tbody>
															<% products.forEach((product, index) => { %>
																<tr>
																	<td><%= index +1 %></td>
																	<td><%= product.id %></td>
																	<td><%= product.name %></td>
																	<td><%= product.stock %></td>
																	<td><%= product.categories.name %></td>
																	<td><%= product.types.name %></td>
																	<td class="text-center">
																		<span><a href="/products/<%= product.id %>/productDetails"><i class="icon-eye"></i>&nbsp;</a></span>
																		<span><a href="/products/<%= product.id %>/edit"><i class="icon-pencil2"></i>&nbsp;</a></span>
																		<!-- <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
																			<span><a type="submit"><i class="icon-line-trash-2"></i></a></span>
																		</form> -->
																	</td>
																</tr>
															<% }); %>
														</tbody>
													</table>
												</div>
											</div>

											<div class="tab-content clearfix" id="tab-sales">
												<p>Administre todas sus compras</p>
												<div class="table-responsive">
													<div class="table-responsive">
														<table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
															<thead>
																<tr>
																	<th>Orden #</th>
																	<th>Fecha</th>
																	<th>Detalle</th>
																	<th>Vendedor</th>
																	<th>Opciones</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>123</td>
																	<td>5/23/2021</td>
																	<td>Compra de Cerveza Tradicional x 3 unidades.</td>
																	<td><a href="#">Miguel Mateos</a></td>
																	<td class="text-center">
																		<span><a href="#"><i class="icon-eye"></i></a></span>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											
											<div class="tab-content clearfix" id="tab-data">
												<!-- Edit Form -->
												<form action="/shops/edit-data?_method=PUT" method="POST" enctype="multipart/form-data">
													<div class="row mt-5 mb-3">
														<div class="col-lg-6 col-md-6 form-group">
															<label for="name">* Nombre Completo:</label>
															<input type="text" name="name" value="<%= shop.name %>" class="form-control" />
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="avatar">Avatar: <small><%= shop.avatar %></small></label>
															<input type="file" name="avatar" value="" class="form-control" />
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="email">* Email:</label>
															<input type="email" name="email" value="<%= shop.email %>" class="form-control" />
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="phone">Teléfono:</label>
															<input type="tel" name="phone" value="<%= shop.phone %>" class="form-control" />
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="bio">Sobre Mí:</label>
															<input type="text" name="bio" value="<%= shop.bio %>" placeholder="Escribe algo sobre ti..."
																class="form-control" />
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="twitter">Twitter</label>
															<div class="input-group input-group-merge">
																<div class="input-group-prepend">
																	<span class="input-group-text" id="basic-addon3">
																		<i class="icon-twitter" class="font-medium-2"></i>
																	</span>
																</div>
																<input name="twitter" type="text" class="form-control" value="<%= shop.twitter %>"
																	placeholder="https://www.twitter.com/su-usuario" />
															</div>
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="facebook">Facebook</label>
															<div class="input-group input-group-merge">
																<div class="input-group-prepend">
																	<span class="input-group-text" id="basic-addon4">
																		<i class="icon-facebook" class="font-medium-2"></i>
																	</span>
																</div>
																<input name="facebook" type="text" class="form-control" value="<%= shop.facebook %>"
																	placeholder="https://www.facebook.com/su-usuario" />
															</div>
														</div>
														<div class="col-lg-6 col-md-6 form-group">
															<label for="instagram">Instagram</label>
															<div class="input-group input-group-merge">
																<div class="input-group-prepend">
																	<span class="input-group-text" id="basic-addon5">
																		<i class="icon-instagram" class="font-medium-2"></i>
																	</span>
																</div>
																<input name="instagram" type="text" class="form-control" value="<%= shop.instagram %>"
																	placeholder="https://www.instagram.com/su-usuario" />
															</div>
														</div>
														<div class="w-100"></div>
														<div class="col-lg-12 col-md-12 form-group mt-3">
															<button class="btn btn-dark m-0" type="submit">Editar Perfil</button>
														</div>
													</div>
												</form>
											</div>
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="w-100 line d-block d-md-none"></div>
	
					<div class="col-md-3">
						
						<div class="fancy-title topmargin title-border">
							<h4>Datos de contacto</h4>
						</div>
						<p>
							Nombre: <%= shop.name %></br>
							Email: <%= shop.email %></br>
							Teléfono: <%= shop.phone %>
						</p>

						<% if(shop.bio != "") {%> 
							<div class="fancy-title topmargin title-border">
								<h4>Sobre el negocio</h4>
							</div>
							<p><%= shop.bio %></p>
						<% } %>

						<div class="fancy-title topmargin title-border">
							<h4>Redes comerciales</h4>
						</div>
						
						<% if(shop.facebook !="" ) {%>
							<a href="<%= shop.facebook %>" target="_blank" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
						<% } %>
						<% if(shop.instagram !="" ) {%>
							<a href="<%= shop.instagram %>" target="_blank" class="social-icon si-instagram si-small si-rounded si-light" title="Instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
						<% } %>
						<% if(shop.twitter !="" ) {%>
							<a href="<%= shop.twitter %>" target="_blank" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
						<% } %>		
					</div>
	
				</div>
	
			</div>
		</div>
	</section><!-- #content end -->

	<!-- Footer -->
	<%- include('../layout/footer') %>
	<script src="/js/components/bs-datatable.js"></script>
	<script>
		$(document).ready(function () {
				$('#datatable1').dataTable();
				$('#datatable2').dataTable();
		});
	</script>

</body>

</html>