<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Perfil de Negocio" }) %>
	<link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

	<!-- Page Title 
	<section id="page-title" class="checkout-page-title page-title-parallax page-title-dark"
		data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
		<%- include('../pages/pageTitle' , { title:"Perfil Administrador", page:"Perfil" }) %>
	</section> -->

	<!-- Content -->
	<section id="dark-content" class="dark noborder parallax pt-3">
		<div class="content-wrap">
			<div class="container clearfix">
	
				<div class="row clearfix">
	
					<div class="col-md-12">
						
							<img src= "/images/users/<%= admin.avatar%>" class="alignleft img-circle img-thumbnail my-0" alt="Avatar"
							style="max-width: 84px;">
	
						<div class="heading-block border-0">
							<h3><%= admin.name %></h3>
							<small class="m-0"><%= admin.email %></small><br>
							<small class="m-0"><span class="badge badge-pill badge-warning">Administrador</span></small>

						</div>
						
						<div class="clear"></div>
	
						<div class="row clearfix">
	
							<div class="col-lg-12">
	
								<div class="tabs tabs-alt clearfix" id="tabs-profile">
	
									<ul class="tab-nav clearfix">
										<li><a href="#tab-users"><i class="icon-line2-users"></i> Usuarios</a></li>
										<li><a href="#tab-shops"><i class="icon-shop"></i> Tiendas</a></li>
										<li><a href="#tab-products"><i class="icon-line-box"></i> Productos</a></li>
										<li><a href="#tab-comments"><i class="icon-comments1"></i> Comentarios</a></li>
										<li><a href="#tab-shipping"><i class="icon-shipping-fast"></i> Envíos</a></li>
										<li><a href="#tab-payments"><i class="icon-line-credit-card"></i> Pagos</a></li>
										<li><a href="#tab-orders"><i class="icon-line-shopping-cart"></i> Pedidos</a></li>
										<li><a href="#tab-categories"><i class="icon-line-shopping-bag"></i> Categorias</a></li>
										<li><a href="#tab-types"><i class="icon-line-bookmark"></i> Tipos</a></li>
									</ul>
	
									<div class="tab-container">
										
										<% if(typeof errors !='undefined' ) { %>
											<div class="col-12">
												<ul>
													<% errors.forEach(error=> { %>
														<li class="text-danger">
															<%= error.msg %>
														</li>
														<% });%>
												</ul>
											</div>
										<% } %>
										
										<div class="tab-content clearfix" id="tab-users">
											<a href="/admin/create-user" class="btn btn-warning float-right mb-5">Crear Usuario</a>
											<div class="table-responsive">
												<table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>#</th>
															<th>ID</th>
															<th>Nombre</th>
															<th>User Name</th>
															<th>Email</th>
															<th>Télefono</th>
															<th>Admin</th>
															<th>Estado</th>
															<th>Rol</th>
															<th>Shop Id</th>
															<th class="text-center">Opciones</th>
														</tr>
													</thead>
													<tbody>
														<% users.forEach((user, index) => { %>
															<tr>
																<td><small><%= index +1 %></small></td>
																<td><small><%= user.id %></small></td>
																<td><small><%= user.name %></small></td>
																<td><small><%= user.userName %></small></td>
																<td><small><%= user.email %></small></td>
																<td><small><%= user.phone %></small></td>
																<td><small><%= user.admin == 1 ? "SI" : "NO" %></small></td>
																<td>
																	<% if(user.status == "active") { %>
																		<small><span class="badge badge-pill badge-success">ACTIVO</span></small>
																	<% } else { %>  
																		<small><span class="badge badge-pill badge-danger">BLOQUEDO</span></small>
																	<% } %>
																</td>
																<td>
																	<% if(user.role == "seller") { %>
																		<small><span class="badge badge-pill badge-success">VENDEDOR</span></small>
																	<% } else { %>  
																		<small><span class="badge badge-pill badge-warning">COMPRADOR</span></small>
																	<% } %>
																</td>
																<td><small><%= user.shopId != null ? user.shops.name : "Sin Negocio" %></small></td>
																<td class="d-flex justify-content-center">
																	<a href="/admin/<%= user.id %>/user-profile" class="btn btn-outline btn-sm p-0"><i class="m-0 i-rounded i-small icon-eye"></i></a>
																	<a href="/admin/<%= user.id %>/edit-user" class="btn btn-outline btn-sm p-0"><i class="m-0 i-rounded i-small icon-pencil2"></i></a>
																	<% if(user.shopId !=null){ %>
																		<a href="/admin/<%= user.id %>/shop-profile" class="btn btn-outline btn-sm p-0"><i class="m-0 i-rounded i-small icon-shop"></i></a>
																	<% } %>
																</td>
															</tr>
														<% });%>
													</tbody>
												</table>
											</div>
										</div>

										<div class="tab-content clearfix" id="tab-shops">
											<button class="btn btn-warning float-right mb-5" data-toggle="modal" data-target="#createShop">Crear Tienda</button>
											<div class="table-responsive">
												<table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>#</th>
															<th>ID</th>
															<th>Nombre</th>
															<th>Propietario</th>
															<th>Email</th>
															<th>Télefono</th>
															<th>Ranking</th>
															<th>Estado</th>
															<th>Ventas</th>
															<th>Descripción</th>
															<th class="text-center">Opciones</th>
														</tr>
													</thead>
													<tbody>
														<% shops.forEach((shop, index) => { %>
															<tr>
																<td><small><%= index +1 %></small></td>
																<td><small><%= shop.id %></small></td>
																<td><small><%= shop.name %></small></td>
																<td><small><%= shop.users.name %></small></td>
																<td><small><%= shop.email %></small></td>
																<td><small><%= shop.phone %></small></td>
																<td><small><%= shop.ranking %></small></td>
																<td>
																	<% if(shop.status == "active") { %>
																		<small><span class="badge badge-pill badge-success">ACTIVO</span></small>
																	<% } else { %>  
																		<small><span class="badge badge-pill badge-danger">BLOQUEDO</span></small>
																	<% } %>
																</td>
																<td><small><%= shop.sales %></small></td>
																<td><small><%= shop.bio != "" ? shop.bio : "Sin Descripción" %></small></td>
																<td class="d-flex justify-content-center">
																	<a href="/admin/<%= shop.id %>/shop-profile" class="btn btn-outline btn-sm p-0"><i class="m-0 i-rounded i-small icon-eye"></i></a>
																	<a href="/admin/<%= shop.id %>/shop-profile#tab-data" class="btn btn-outline btn-sm p-0"><i class="m-0 i-rounded i-small icon-pencil2"></i></a>
																</td>
															</tr>
														<% });%>
													</tbody>
												</table>
											</div>
										</div>

										<div class="tab-content clearfix" id="tab-categories">
											<button class="btn btn-warning float-right mb-5" data-toggle="modal" data-target="#createCategory">Crear Categoría</button>
											<div class="table-responsive">
												<table id="categories" class="table table-striped table-bordered" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>#</th>
															<th>ID</th>
															<th>Nombre</th>
															<th>Descripción</th>
															<th>Tipo</th>
															<th>Cantidad Productos</th>
															<th class="text-center">Opciones</th>
														</tr>
													</thead>
													<tbody>
														<% categories.forEach((category, index) => { %>
															<tr>
																<td><small><%= index +1 %></small></td>
																<td><small><%= category.id %></small></td>
																<td><small><%= category.name %></small></td>
																<td><small><%= category.description %></small></td>
																<td><small><%= category.types.name %></small></td>
																<td><small><%= category.count %></small></td>
																<td class="d-flex justify-content-center">
																	<button class="btn btn-outline btn-sm p-0" data-toggle="modal" data-target="#<%= `editCategoryModal${category.id}` %>">
																		<i class="m-0 i-rounded i-small icon-pencil2"></i></button>
																	<button class="btn btn-outline btn-sm p-0" data-toggle="modal" data-target="#<%= `destroyCategoryModal${category.id}` %>">
																		<i class="m-0 i-rounded i-small icon-line-trash-2"></i></button>
																</td>
															</tr>
														<% });%>
													</tbody>
												</table>
											</div>
										</div>

										<div class="tab-content clearfix" id="tab-types">
											<button class="btn btn-warning float-right mb-5" data-toggle="modal" data-target="#createType">Crear Tipo</button>
											<div class="table-responsive">
												<table id="types" class="table table-striped table-bordered" cellspacing="0" width="100%">
													<thead>
														<tr>
															<th>#</th>
															<th>ID</th>
															<th>Nombre</th>
															<th>Descripción</th>
															<th>*Categorias</th>
															<th class="text-center">Opciones</th>
														</tr>
													</thead>
													<tbody>
														<% types.forEach((type, index) => { %>
															<tr>
																<td><small><%= index +1 %></small></td>
																<td><small><%= type.id %></small></td>
																<td><small><%= type.name %></small></td>
																<td><small><%= type.description %></small></td>
																<td><small>
																		<ul class="m-0">
																			<% type.categories.forEach(cat => { %>
																			<li class="ml-3"><%= cat.name %></li>
																			<%}) %>
																		</ul>
																	</small>
																</td>
																<td class="d-flex justify-content-center">
																	<button class="btn btn-outline btn-sm p-0" data-toggle="modal" data-target="#<%= `editTypeModal${type.id}` %>">
																		<i class="m-0 i-rounded i-small icon-pencil2"></i></button>
																	<button class="btn btn-outline btn-sm p-0" data-toggle="modal" data-target="#<%= `destroyTypeModal${type.id}` %>">
																		<i class="m-0 i-rounded i-small icon-line-trash-2"></i></button>
																</td>
															</tr>
														<% });%>
													</tbody>
												</table>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="w-100 line d-block d-md-none"></div>
				</div>
			</div>
		</div>
	</section><!-- #content end -->
	
	<!-- Create Category Modal -->
	<%- include('./products/create-category-modal') %>

	<!-- Update Category Modal-->
	<%- include('./products/edit-category-modal') %>

	<!-- Destroy Category Modal -->
	<%- include('./products/destroy-category-modal') %>

	<!-- Create Type Modal-->
	<%- include('./products/create-type-modal') %>

	<!-- Update Type Modal-->
	<%- include('./products/edit-type-modal') %>

	<!-- Destroy Type Modal -->
	<%- include('./products/destroy-type-modal') %>

	<!-- Create Shop Modal -->
	<%- include('./shops/create-shop-modal') %>

	<!-- Footer -->
	<%- include('../layout/footer') %>
	<script src="/js/components/bs-datatable.js"></script>
	<script>
		$(document).ready(function () {
				$('#users').dataTable();
				$('#categories').dataTable();
				$('#types').dataTable();
				$('#shops').dataTable();
		});
	</script>

</body>

</html>