<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Finaliza tu Compra" }) %>
</head>

	<body class="stretched">

		<!--Cart Panel -->
		<%- include('../layout/panelCart') %>

		<!-- Create Shop Modal -->
		<% if(currentUser && currentUser.role=='buyer' ){ %>
			<%- include('./layout/create-shop-modal') %>
		<% } %>

		<!-- Header -->
		<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0" data-mobile-sticky="true">
			<%- include('../layout/header') %>
		</header>

		<!-- Page Title -->
		<section id="page-title" class="checkout-page-title page-title-parallax page-title-dark" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
			<%- include('../pages/pageTitle' , { title:"Finaliza tu Compra", page:"Checkout" }) %>
		</section>

			<!-- Content
			============================================= -->
			<section id="dark-content" class="dark noborder">
				<section class="bg-img-register dark noborder parallax pt-3">
					<% if (typeof errors!="undefined") { %>
						<ul id="errors" class="container-lg">
							<% for( let i = 0; i < errors.length; i++ ) { %>
							<li ><%= errors[i].msg %> </li>
							<% } %>
						</ul>
					   <% } %>
				<div class="content-wrap">
					<div class="container clearfix">

						<div class="row col-mb-30 gutter-50 mb-4">
							<div class="col-md-6">
								<div class="card">
									<div class="card-body">
										Ya eres cliente? <a href="/users/login">Toca aquí para iniciar sesión</a>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card">
									<div class="card-body">
										Tienes un descuento? <a href="/users/login">Toca aqui para ingresar tu cupón</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row col-mb-50 gutter-50">
							<div class="col-lg-6">
								<div>
									<h3 class="mb-0">Dirección de Facturación</h3><small>Los campos como * son obligatorios.</small>

									<form id="billing-form" name="billing-form" class="row  mt-4" action="/store/checkout" method="POST">
										<div class="col-md-12 form-group">
											<label for="name">*Nombre:</label>
											<input type="text" id="name" name="name" value="<%= currentUser ? currentUser.name : "" %> " class="sm-form-control" />
										</div>

										<div class="w-100"></div>

										<div class="col-12 form-group">
											<label for="dni">*DNI:</label>
											<input type="text" id="dni" name="dni" value="" class="sm-form-control" />
										</div>

										<div class="col-12 form-group">
											<label for="country">*País:</label>
											<select type="text" id="country" name="billingCountry" value="" class="sm-form-control" >
												<option value="Argentina"selected>Argentina</option>
												<option value="Brasil">Brasil</option>
											</select>
										</div>

										<div class="col-12 form-group">
											<label for="province">*Provincia</label>
											<input type="text" id="province" name="billingProvince" value="" class="sm-form-control" />
										</div>

										<div class="col-12 form-group">
											<label for="city">*Ciudad</label>
											<input type="text" id="city" name="billingCity" value="" class="sm-form-control" />
										</div>

										<div class="col-12 form-group">
											<label for="postal-code">*Código postal</label>
											<input type="text" id="postal-code" name="billingPostalCode" value="" class="sm-form-control" />
										</div>

										<div class="col-12 form-group">
											<label for="billingAddress">*Dirección:</label>
											<input type="text" id="billingAddress" name="billingAddress" value="" class="sm-form-control" />
										</div>

										<div class="col-md-6 form-group">
											<label for="billing-form-email">*Email:</label>
											<input type="email" id="billing-form-email" name="email" value="<%= currentUser ? currentUser.email : "" %>" class="sm-form-control" />
										</div>

										<div class="col-md-6 form-group">
											<label for="billing-form-phone">Teléfono:</label>
											<input type="text" id="billing-form-phone" name="phone" value="<%= currentUser ? currentUser.phone : "" %>" class="sm-form-control" />
										</div>
										<div class="col-12 form-group">
											<label for="billing-form-message">Aclaraciones:</label>
											<textarea class="sm-form-control" id="billing-form-message" name="billingMessage" placeholder="Menciona si tienes un requerimiento especifico para tu envío" rows="6" cols="30"></textarea>
										</div>

										<div class="form-check form-check-inline" style="width:100%; margin: 10px 0px 10px 16px;">
											<input class="form-check-input" type="checkbox" id="save-data" name="save-data"value="1">
											<label class="form-check-label nott ls0 mb-0 font-weight-semibold" for="save-data" style="font-size: 14px;">Guardar datos</label>
										</div>
										
										<div class="accordion clearfix" data-state="closed">
											<div class="accordion-header">
												<div class="accordion-icon">
													<i class="accordion-closed icon-line-minus"></i>
													<i class="accordion-open icon-line-check"></i>
												</div>
												<div class="accordion-title color">
													Queres crear una cuenta?
												</div>
											</div>
											<div class="accordion-content clearfix">
												<div class="col-md-12 form-group">
													<label for="password">Contraseña:</label>
													<input type="password" id="password" name="password" value="" class="sm-form-control" />
												</div>
												<div class="mr-3 ml-3"><small>Sugerencia: La contraseña debe ser de al menos doce caracteres.Para hacerla más fuerte usa mayúsculas y minúsculas, números y símbolos como ! " ? $ % ^ y ).</small></div>
											</div>
										</div>
								</div>
								<div class="accordion clearfix accordion-border" data-state="closed">
									<div class="accordion-header">
										<div class="accordion-icon">
											<i class="accordion-closed icon-line-minus"></i>
											<i class="accordion-open icon-line-check"></i>
										</div>
										<div class="accordion-title color">
											Enviar a una dirección diferente?
										</div>
									</div>
									<div class="accordion-content clearfix">
										<div class="">
											<h3 class="mb-0">Datos de Envío</h3><small>Los campos como * son obligatorios.</small>			

												<div class="col-12 form-group">
													<label for="country">*País:</label>
													<select type="text" id="country" name="shippingCountry" value="" class="sm-form-control" >
														<option value="Arg">Argentina</option>
														<option value="Bra">Brasil</option>
													</select>
												</div>
		
												<div class="col-12 form-group">
													<label for="province">*Provincia</label>
													<input type="text" id="province" name="shippingProvince" value="" class="sm-form-control" />
												</div>
		
												<div class="col-12 form-group">
													<label for="city">*Ciudad</label>
													<input type="text" id="city" name="shippingCity" value="" class="sm-form-control" />
												</div>
		
												<div class="col-12 form-group">
													<label for="postal-code">*Código postal</label>
													<input type="text" id="postal-code" name="shippingPostalCode" value="" class="sm-form-control" />
												</div>
		
												<div class="col-12 form-group">
													<label for="billing-form-address">*Dirección:</label>
													<input type="text" id="billing-form-address" name="shippingAddress" value="" class="sm-form-control" />
												</div>
											
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-6">
								<div>
									<h3>Detalle de Compra</h3>

									<div class="table-responsive">
										<table class="table cart">
											<thead>
												<tr>
													<th class="cart-product-thumbnail">&nbsp;</th>
													<th class="cart-product-name">PRODUCTO</th>
													<th class="cart-product-quantity">CANTIDAD</th>
													<th class="cart-product-shop">TIENDA</th>
													<th class="cart-product-subtotal">TOTAL</th>
												</tr>
											</thead>
											<tbody>
												<tr class="cart_item">
													<td class="cart-product-thumbnail">
														<a href="#"><img src="/images/products/product-03.png" style="width:80px !important"alt="beer_img"></a>
													</td>

													<td class="cart-product-name">
														<a href="#">Lager Green Beer</a>
													</td>

													<td class="cart-product-quantity">
														<div class="quantity clearfix">
															2
														</div>
													</td>
													
													<td class="cart-product-shop">
														<span class="amount">Artis Kraken</span>
													</td>
													<td class="cart-product-subtotal">
														<span class="amount">$500,00</span>
													</td>
												</tr>
												<tr class="cart_item">
													<td class="cart-product-thumbnail">
														<a href="#"><img src="/images/products/product-03.png" style="width:80px !important"alt="beer_img"></a>
													</td>

													<td class="cart-product-name">
														<a href="#">Lager Red Beer</a>
													</td>

													<td class="cart-product-quantity">
														<div class="quantity clearfix">
															1
														</div>
													</td>

													<td class="cart-product-shop">
														<span class="amount">Artis Kraken</span>
													</td>
													<td class="cart-product-subtotal">
														<span class="amount">$300,00</span>
													</td>
												</tr>
												<tr class="cart_item">
													<td class="cart-product-thumbnail">
														<a href="#"><img src="/images/products/product-03.png" style="width:80px !important"alt="beer_img"></a>
													</td>

													<td class="cart-product-name">
														<a href="#">Ipa Beer</a>
													</td>

													<td class="cart-product-quantity">
														<div class="quantity clearfix">
															1
														</div>
													</td>

													<td class="cart-product-shop">
														<span class="amount">Artis Kraken</span>
													</td>
													<td class="cart-product-subtotal">
														<span class="amount">$450,00</span>
													</td>
												</tr>
											</tbody>

										</table>
									</div>
								</div>
								<div class="col-12 form-group">
									<label for="order-message">Aclaraciones:</label>
									<textarea class="sm-form-control" id="order-message" name="orderMessage" placeholder="Menciona si tienes un requerimiento especifico para tu orden" rows="6" cols="30"></textarea>
								</div>
								<div>
									<hr>
									<div class="table-responsive">
										<table class="table cart">
											<tbody>
												<tr class="cart_item">
													<td class="border-top-0 cart-product-name">
														<strong>Subtotal</strong>
													</td>

													<td class="border-top-0 cart-product-name">
														<span class="amount">$1.750,00</span>
													</td>
												</tr>
												<tr class="cart_item">
													<td class="cart-product-name">
														<strong>Envío</strong>
													</td>

													<td class="cart-product-name">
														<input type="radio" value="1"name="shippingMethod" checked> A mi domicilio <a style="color:rgb(255 196 39)"href="#">Calcular</a><br>
														<input type="radio" value="2"name="shippingMethod"> Retirar por el correo más cercano <a style="color:rgb(255 196 39)"href="#">Calcular</a><br>
														<input type="radio" value="3"name="shippingMethod"> Arreglar con el vendedor<br>
													</td>
												</tr>
												<tr class="cart_item">
													<td class="cart-product-name">
														<strong>Total</strong>
													</td>

													<td class="cart-product-name">
														<span class="amount color lead"><strong>$1.750,00</strong></span>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>

								<div class="accordion accordion-border clearfix">
									<div class="accordion-header">
										<div class="accordion-icon">
											<i class="accordion-closed icon-line-minus"></i>
											<i class="accordion-open icon-line-check"></i>
										</div>
										<div class="accordion-title">
											Transferencia Bancaria
										</div>
									</div>
									<div class="accordion-content clearfix">Realiza tu pago directamente en nuestra cuenta bancaria. Por favor, usa el número del pedido como referencia de pago. Tu pedido no se procesará hasta que se haya recibido el importe en nuestra cuenta.</div>

									<div class="accordion-header">
										<div class="accordion-icon">
											<i class="accordion-closed icon-line-minus"></i>
											<i class="accordion-open icon-line-check"></i>
										</div>
										<div class="accordion-title">
											<div class="d-flex justify-content-between">
												<span>Tarjeta de Crédito/Débito</span>
												<img src="/images/checkout/mercadopago.png" alt="mercadopago"/>
											</div>
										</div>
									</div>
									<div class="accordion-content clearfix">
												<h4 class="mb-0 col-md-12">Datos de Envío</h4>
												<small class="mb-4 col-md-12">Los campos como * son obligatorios.</small>
												<div class="col-md-12 form-group">
													<label for="payment-form-card">*Numero de Tarjeta:</label>
													<input type="number" id="payment-form-card" name="payment-form-card" value="" class="sm-form-control" />
												</div>

												<div class="col-md-6 form-group">
													<label for="payment-form-date">*Fecha de Vencimiento:</label>
													<input type="date" id="payment-form-date" name="payment-form-date" value="" class="sm-form-control" />
												</div>

												<div class="col-md-6 form-group">
													<label for="payment-form-code">*Código de Seguridad:</label>
													<input type="password" id="payment-form-code" name="payment-form-code" value="" class="sm-form-control" />
												</div>

												<div class="col-md-12 form-group">
													<label for="payment-form-quota">*Numero de Cuotas:</label>
													<select id="payment-form-quota" name="payment-form-quota" value="" class="sm-form-control">
														<option value="0" selected='selected'>12 cuotas</option>
														<option value="1">8 cuotas</option>
														<option value="2">6 cuotas</option>
														<option value="3">3 cuotas</option>
														<option value="4">1 cuota</option>
													</select>
												</div>

											</div>
											
											<div class="accordion-header">
												<div class="accordion-icon">
											<i class="accordion-closed icon-line-minus"></i>
											<i class="accordion-open icon-line-check"></i>
										</div>
										<div class="accordion-title">
											<div class="d-flex justify-content-between">
												<span>Paga con Dinero en Efectivo</span>
												<img src="/images/checkout/mercadopago.png" alt="mercadopago"/>
											</div>
										</div>
									</div>
									<div class="accordion-content clearfix">
										<div class="row">
											<img src="/images/checkout/mp_payments_cash.png" class="w-100 p-4 br-5" alt="mercadopago"/>
										</div>
									</div>
								</div>
								<div class="col-md-12 mb-3">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
										<label class="form-check-label nott ls0 mb-0 font-weight-semibold" for="inlineCheckbox2">He leído y estoy de acuerdo con los <a href="#">términos y condiciones</a> de la web *</label>
									</div>
								</div>
								<button type="submit"class="button button-rounded button-reveal float-right">Comprar</button>
							</form>
							</div>
						</div>
					</div>
				</div>

			</section><!-- #content end -->

			<!-- Footer -->
			<%- include('../layout/footer') %>
	</body>	
</html>