<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Tienda" }) %>
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Create Shop Modal -->
	<% if(currentUser && currentUser.role=='buyer' ){ %>
		<%- include('../layout/create-shop-modal') %>
	<% } %>

	<!-- Notifications -->
	<%- include('../layout/notifications') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

	<!-- Page Title -->
	<section id="page-title" class="store-page-title page-title-parallax page-title-dark"
		data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
		<%- include('../pages/pageTitle' , { title: "Tienda", page: "Tienda" }) %>
	</section>

		<!-- Content -->
		<section id="content" class="dark-background">
			<div class="content-wrap pt-0" style="overflow: visible;">
				

				<div class="section mb-0 pt-5 dark-background" style="top: -120px;">
					<div class="container">

						<!-- Grid Filter
						============================================= -->
						<ul class="grid-filter style-3 w-100" data-container="#portfolio">
							<% categories.forEach( category => { %>
								<li><a href="#" data-filter=".<%= category.id %>" class="link-grid"><i class="icon-beer"></i><span class="ml-1 text-uppercase"><%= category.name %></span></a></li>
							<% }) %> 

							<!-- Show All Button -->
							<li class="activeFilter ml-auto"><a class="button button-small button-rounded button-reset" href="#" data-filter="*">Todas</a></li>
						</ul><!-- .grid-filter end -->

						<!-- Portfolio Items
						============================================= -->
						<div id="products-list">
							<div id="portfolio" class="portfolio row gutter-30 grid-container" data-layout="fitRows">
								<% products.forEach( product => { %>
									<% if(product.status == 'active'){ %>
										<%- include('./productStore', { product: product, categories:categories }) %>
									<% } %> 
								<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- #content end -->

	<!-- Footer -->
	<%- include('../layout/footer') %>
		
</body>
		
</html>