<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Perfil de Usuario" }) %>
	<link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

	<!-- Page Title 
	<section id="page-title" class="checkout-page-title page-title-parallax page-title-dark"
		data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px 0px;">
		<%- include('../pages/pageTitle' , { title:"Perfil de Usuario", page:"Perfil" }) %>
	</section> -->

	<!-- Content -->
	<section id="dark-content" class="dark noborder parallax pt-3">
		<div class="content-wrap">
			<div class="container clearfix">
	
				<div class="row clearfix">
	
					<div class="col-md-9">
						
							<img src= "/images/users/<%= current_user.avatar%>" class="alignleft img-circle img-thumbnail my-0" alt="Avatar"
							style="max-width: 84px;">
	
						<div class="heading-block border-0">
							<h3><%= current_user.name %></h3>
							<span class="m-0"><%= current_user.email %></span>
						</div>
						
						<div class="clear"></div>
	
						<div class="row clearfix">
	
							<div class="col-lg-12">
	
								<div class="tabs tabs-alt clearfix" id="tabs-profile">
	
									<ul class="tab-nav clearfix">
										<li><a href="#tab-orders"><i class="icon-credit-cards"></i> Compras </a></li>
										<li><a href="#tab-data"><i class="icon-pencil2"></i> Editar Datos</a></li>
										<li><a href="#tab-pass"><i class="icon-shield"></i> Seguridad</a></li>
										<li><a href="#tab-comments"><i class="icon-reply"></i> Comentarios</a></li>
										<% if( current_user.role == "seller" && current_user.shopId != null ) { %>
											<li><a href="#tab-products"><i class="icon-box"></i> Productos</a></li>
										<% } %>
									</ul>
	
									<div class="tab-container">
										
										<% if(typeof errors !='undefined' ) { %>
											<div class="col-12">
												<ul>
													<% errors.forEach(error=> { %>
														<li class="text-danger">
															<%= error.msg %>
														</li>
														<% });%>
												</ul>
											</div>
										<% } %>

										<div class="tab-content clearfix" id="tab-orders">
											<p>Administre todas sus compras</p>
											<div class="table-responsive">
												<div class="table-responsive">
													<table id="datatable1" class="table table-striped table-bordered" cellspacing="0" width="100%">
														<thead>
															<tr>
																<th>Orden #</th>
																<th>Fecha</th>
																<th>Detalle</th>
																<th>Vendedor</th>
																<th>Opciones</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>123</td>
																<td>5/23/2021</td>
																<td>Compra de Cerveza Tradicional x 3 unidades.</td>
																<td><a href="#">Miguel Mateos</a></td>
																<td class="text-center">
																	<span><a href="#"><i class="icon-eye"></i></a></span>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="tab-content clearfix" id="tab-data">
											<!-- Edit Form -->
											<form  action="/users/edit-data?_method=PUT" method="POST" enctype="multipart/form-data">
												<div class="row mt-5 mb-3">
													<div class="col-lg-6 col-md-6 form-group">
														<label for="name">* Nombre Completo:</label>
														<input type="text" name="name" value="<%= current_user.name %>" class="form-control" />
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="userName">* Nombre de Usuario:</label>
														<input type="text" name="userName" value="<%= current_user.userName %>" class="form-control" />
													</div>
													<div class="w-100"></div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="avatar">Avatar: <small><%= current_user.avatar %></small></label>
														<input type="file" name="avatar" value="" class="form-control" />
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="email">* Email:</label>
														<input type="email" name="email" value="<%= current_user.email %>" class="form-control" />
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="phone">Teléfono:</label>
														<input type="tel" name="phone" value="<%= current_user.phone %>" class="form-control" />
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="bio">Sobre Mí:</label>
														<input type="text" name="bio" value="<%= current_user.bio %>" placeholder="Escribe algo sobre ti..." class="form-control" />
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="twitter">Twitter</label>
														<div class="input-group input-group-merge">
															<div class="input-group-prepend">
																<span class="input-group-text" id="basic-addon3">
																	<i class="icon-twitter" class="font-medium-2"></i>
																</span>
															</div>
															<input name="twitter" type="text" class="form-control" value="<%= current_user.twitter %>" placeholder="https://www.twitter.com/su-usuario" />
														</div>
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="facebook">Facebook</label>
														<div class="input-group input-group-merge">
															<div class="input-group-prepend">
																<span class="input-group-text" id="basic-addon4">
																	<i class="icon-facebook" class="font-medium-2"></i>
																</span>
															</div>
															<input name="facebook" type="text" class="form-control" value="<%= current_user.facebook %>" placeholder="https://www.facebook.com/su-usuario" />
														</div>
													</div>
													<div class="col-lg-6 col-md-6 form-group">
														<label for="instagram">Instagram</label>
														<div class="input-group input-group-merge">
															<div class="input-group-prepend">
																<span class="input-group-text" id="basic-addon5">
																	<i class="icon-instagram" class="font-medium-2"></i>
																</span>
															</div>
															<input name="instagram" type="text" class="form-control" value="<%= current_user.instagram %>" placeholder="https://www.instagram.com/su-usuario" />
														</div>
													</div>
													<div class="w-100"></div>
													<div class="col-lg-12 col-md-12 form-group mt-3">
														<button class="btn btn-dark m-0" type="submit">Editar Perfil</button>
													</div>
												</div>
											</form>
										</div>

										<div class="tab-content clearfix" id="tab-pass">
											<!-- Edit Form -->
											<form action="/users/edit-password?_method=PUT" method="POST">
												<div class="row mt-5 mb-3">
													
													<div class="col-md-12">
														<div class="form-group">
															<label for="password">Contraseña Actual</label>
															<div class="input-group input-group-merge form-password-toggle">
																<input class="form-control form-control-merge" type="password" name="password" placeholder="Ingrese su contraseña actual" />
																<div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="icon-eye"></i></span></div>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="new_password">Ingresar Nueva Contraseña</label>
															<div class="input-group input-group-merge form-password-toggle">
																<input class="form-control form-control-merge" type="password" name="new_password" placeholder="Ingrese la nueva contraseña" />
																<div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="icon-eye"></i></span></div>
															</div>
														</div>
												
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label for="confirmation">Confirmar Nueva Contraseña</label>
															<div class="input-group input-group-merge form-password-toggle">
																<input class="form-control form-control-merge" type="password" name="confirmation" placeholder="Confirme su nueva contraseña" />
																<div class="input-group-append"><span class="input-group-text cursor-pointer"><i class="icon-eye"></i></span></div>
															</div>
														</div>
													</div>
													<div class="w-100"></div>
													<div class="col-lg-12 col-md-12 form-group mt-3">
														<button class="btn btn-dark m-0" type="submit">Cambiar Contraseña</button>
													</div>
												</div>
											</form>
										</div>

										<div class="tab-content clearfix" id="tab-comments">
											<div class="clear topmargin-sm"></div>
											<h3 id="comments-title"><span><%= comments.length%></span> Comentarios</h3>
											<!-- Comments List -->
											<ol class="commentlist clearfix">
												<% comments.forEach( comment=> { %>
													<li class="comment even thread-even depth-1" id="li-comment-<%= comment.id%>">
														<div id="comment-<%= comment.id%>" class="comment-wrap clearfix">
															<div class="comment-meta">
																<div class="comment-author vcard">
																	<span class="comment-avatar clearfix">
																		<img alt='Image' src='/images/users/<%= comment.avatar%>'
																			class='avatar avatar-60 photo avatar-default' height='60' width='60' /></span>
																</div>
															</div>
															<div class="comment-content clearfix">
																<div class="comment-author">
																	<%= comment.author%>
																		<span>Fecha: <%= comment.datetime%></span>
																</div>
																<p><%= comment.comment%></p>
																
																	<form action="/products/deleteComment/<%= comment.id %>?_method=DELETE" method="POST">
																		<button class="btn btn-danger btn-sm comment-delete-link" type="submit"><i class="icon-line-trash-2"></i></button>
																	</form>
																	<a href="/products/<%= comment.productId %>/productDetails" class="btn btn-primary btn-sm comment-delete-link mr-5"><i class="icon-line-eye"></i></a>
																
															</div>
															<div class="clear"></div>
														</div>
													</li>
													<%} ) %>
											</ol><!-- .commentlist end -->
										</div>

										<% if( current_user.role=="seller" && current_user.shopId !=null ) { %>
											<div class="tab-content clearfix" id="tab-products">
												<p>Administre todos sus productos</p>
												<div class="table-responsive">
													<table id="datatable2" class="table table-striped table-bordered" cellspacing="0" width="100%">
														<thead>
															<tr>
																<th>#</th>
																<th>ID</th>
																<th>Nombre</th>
																<th>Stock</th>
																<th>Categoría</th>
																<th>Tipo</th>
																<th class="text-center">Opciones</th>
															</tr>
														</thead>
														<tbody>
															<% products.forEach((product, index) => { %>
																<tr>
																	<td><%= index +1 %></td>
																	<td><%= product.id %></td>
																	<td><%= product.name %></td>
																	<td><%= product.stock %></td>
																	<td><%= product.category %></td>
																	<td><%= product.type %></td>
																	<td class="text-center">
																		<span><a href="/products/<%= product.id %>/productDetails"><i class="icon-eye"></i>&nbsp;</a></span>
																		<span><a href="/products/<%= product.id %>/edit"><i class="icon-pencil2"></i>&nbsp;</a></span>
																		<!-- <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
																			<span><a type="submit"><i class="icon-line-trash-2"></i></a></span>
																		</form> -->
																	</td>
																</tr>
															<% }); %>
														</tbody>
													</table>
												</div>
											</div>
										<% } %>
									</div>
								</div>
							</div>
						</div>
					</div>
	
					<div class="w-100 line d-block d-md-none"></div>
	
					<div class="col-md-3">
						
						<div class="fancy-title topmargin title-border">
							<h4>Información</h4>
						</div>
						<p>
							Nombre: <%= current_user.name %></br>
							Usuario: <%= current_user.userName %></br>
							Email: <%= current_user.email %></br>
							Teléfono: <%= current_user.phone %>
						</p>

						<% if(current_user.bio != "") {%> 
							<div class="fancy-title topmargin title-border">
								<h4>Sobre Mí</h4>
							</div>
							<p><%= current_user.bio %></p>
						<% } %>

						<div class="fancy-title topmargin title-border">
							<h4>Perfiles Conectados</h4>
						</div>
						
						<% if(current_user.facebook !="" ) {%>
							<a href="<%= current_user.facebook %>" target="_blank" class="social-icon si-facebook si-small si-rounded si-light" title="Facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
						<% } %>
						<% if(current_user.instagram !="" ) {%>
							<a href="<%= current_user.instagram %>" target="_blank" class="social-icon si-instagram si-small si-rounded si-light" title="Instagram">
								<i class="icon-instagram"></i>
								<i class="icon-instagram"></i>
							</a>
						<% } %>
						<% if(current_user.twitter !="" ) {%>
							<a href="<%= current_user.twitter %>" target="_blank" class="social-icon si-twitter si-small si-rounded si-light" title="Twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
						<% } %>		
					</div>
	
				</div>
	
			</div>
		</div>
	</section><!-- #content end -->

	<!-- Footer -->
	<%- include('../layout/footer') %>
	<script src="/js/components/bs-datatable.js"></script>
	<script>
		$(document).ready(function () {
				$('#datatable1').dataTable();
				$('#datatable2').dataTable();
		});

		$('.form-password-toggle .input-group-text').on('click', function (e) {
			e.preventDefault();
			var $this = $(this),
				inputGroupText = $this.closest('.form-password-toggle'),
				formPasswordToggleIcon = $this,
				formPasswordToggleInput = inputGroupText.find('input');

			if (formPasswordToggleInput.attr('type') === 'text') {
				formPasswordToggleInput.attr('type', 'password');
				if (feather) {
					formPasswordToggleIcon.find('svg').replaceWith(feather.icons['eye'].toSvg({ class: 'font-small-4' }));
				}
			} else if (formPasswordToggleInput.attr('type') === 'password') {
				formPasswordToggleInput.attr('type', 'text');
				if (feather) {
					formPasswordToggleIcon.find('svg').replaceWith(feather.icons['eye-off'].toSvg({ class: 'font-small-4' }));
				}
			}
		});
	</script>

</body>

</html>