<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
	<%- include('../layout/head', { title:"Registrate" }) %>
	<link rel="stylesheet" href="/css/register.css" type="text/css" />
</head>

<body class="stretched">

	<!--Cart Panel -->
	<%- include('../layout/panelCart') %>

	<!-- Header -->
	<header id="header" class="dark" data-sticky-class="dark-color" data-sticky-shrink-offset="0"
		data-mobile-sticky="true">
		<%- include('../layout/header') %>
	</header>

		<!-- Content -->
		<section class="bg-img-register dark noborder parallax pt-3">
			<% if (typeof errors!="undefined") { %>
				<ul id="errors" class="container-lg">
					<% for( let i = 0; i < errors.length; i++ ) { %>
					<li ><%= errors[i].msg %> </li>
					<% } %>
				</ul>
			   <% } %>
			<div id="register-boxes">
				<!-- 1st card -->
				<div id="card-one">
					<article class="card-body mx-auto" style="max-width: 400px;">
						<h3 class="card-title mt-2 bord-b text-center darkgoldenrod poppins">REGISTRATE</h3>
						<p class="text-center c-grey poppins">Comenzá creándote tu cuenta!</p>
						<p id="social-media">
							<a href="" class="btn btn-block btn-twitter twitter"> <i class="fab fa-twitter "></i>   Sign in via
								Twitter</a>
							<a href="" class="btn btn-block btn-facebook facebook"> <i class="fab fa-facebook-f"></i>   Sign in via
								facebook</a>
						</p>
						<p class="divider-text">
							<span class="c-white text-align-center">ó</span>
						</p>
						<form method="POST" action="/users/register" enctype="multipart/form-data">
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"> <i class="fa fa-user"></i> </span>
								</div>
								<input name="name" class="form-control" placeholder="Nombre Completo" type="text">
							</div> <!-- form-group// -->
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"><i class="fas fa-at"></i></span>
								</div>
								<input name="userName" class="form-control" placeholder="Nombre de Usuario" type="text">
							</div> <!-- form-group// -->
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
								</div>
								<input name="email" class="form-control" placeholder="Email" type="email">
							</div> <!-- form-group// -->
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"> <i class="fa fa-phone"></i> </span>
								</div>
								<select id="select-number"class="custom-select border-soft" name="selectNumber"style="max-width: 120px;">
									<option selected="">+54</option>
									<option value="1">+598</option>
									<option value="2">+56</option>
									<option value="3">+57</option>
								</select>
								<input name="phoneNumber" class="form-control" placeholder="Número de telefono" type="text">
							</div>
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
								</div>
								<input class="form-control" name="password"placeholder="Creá tu contraseña" type="password">
							</div> <!-- form-group// -->
							<div class="form-group input-group">
								<div class="input-group-prepend-s">
									<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
								</div>
								<input class="form-control" name="confirmPassword"placeholder="Repetí tu contraseña" type="password">
							</div> <!-- form-group// -->
							<div class="form-group input-group">
								<div class="input-group-prepend-s w-14">
									<span class="input-group-text"> <i class="fas fa-id-badge"></i> </span>
								</div>
								<div class="select-avatar">
								<p id="p-avatar"class="ml-1 mr-1">Seleccioná tu foto de perfil:</p>
								<label for="avatar"class="w-avatar">
									<input type="file" name="avatar" id="avatar"style="display:none;" />
									<img class="w-avatar mt-14"src="/images/register/avatar.png"/>
								 </label>
								 </div>
							</div> <!-- form-group// -->
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block ">Crear Cuenta </button>
							</div> <!-- form-group// -->
							<p class="text-center c-white poppins">Ya tenés cuenta? <a class="gold"href="/users/login"> Log In</a> </p>
						</form>
					</article>
				</div> <!-- 1st card end -->
				<!-- 2nd card -->
				<div class="card form b poppins">
					<h5 id="reg-title" class="p-2 poppins"> Registrándote hoy podrás:</h5>
					<ul id="reg-list" class="fa-ul p-2 pb-3">
						<li><span class="fa-li"><i class="icon-line-check-circle gold"></i></span>Acelerar el proceso de compras sin
							espera</li>
						<li><span class="fa-li"><i class="icon-line-check-circle gold"></i></span>Realizar un seguimiento de tus
							pedidos</li>
						<li><span class="fa-li"><i class="icon-line-check-circle gold"></i></span>Mantener un registro de todas tus
							compras</li>
						<li><span class="fa-li"><i class="icon-line-check-circle gold"></i></span>Acceder a más promociones <a
								href="#">Ver más</a></li>
					</ul>
					<p id="p-card-two">Tus datos personales se utilizarán para procesar tu pedido, mejorar tu experiencia en nuestra
						web, gestionar el acceso a tu cuenta y otros propósitos que se encuentran descritos en nuestra política de
						privacidad. <a href="#">Ver política de privacidad</a></p>
				</div> <!-- 2nd card end -->
			</div>
			<!--container end.//-->


		</section>

	<!-- Footer -->
	<%- include('../layout/footer') %>
</body>
	
</html>